---
import Layout from "../layouts/AboutMe.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("January 30 2025")}
	categories={["author", "about"]}
>
	<!-- <div> -->
	<!-- 	<h2 class="my-0">Oung Seik Nyan</h2> -->
	<!-- 	<p>Senior Back-End Engineer at <a href="https://www.brillar.io/">Brillar</a></p> -->
	<!-- </div> -->
	<p>
		Hello, I'm Oung Seik Nyan, (You can call me <strong>Oung</strong>) a Software Engineer working
		primarily with the JavaScript/TypeScript ecosystem. Also Linux, System Programming, and Computer
		Science Enthusiast.
	</p>

	<p>
		I was born in 1998 in Mawlamyaine, Myanmar. In 2019, after the journey of Bachelor degree in
		Mathematics, I started to learn the Programming for Data Science. After a year laster, I changed
		my career path to be the web developer.
	</p>

	<p>
		Currently, I'm Senior Back-End Engineer at <a href="https://www.brillar.io/">Brillar</a> while working
		remotely from Mawlamyaine, Myanmar.
	</p>
</Layout>
