---
const pathname = Astro.url.pathname;
---

<header class="fixed left-0 top-0 z-10 w-full bg-base-200/90 shadow-lg">
	<nav class="flex items-center justify-center">
		<ul id="nav-items" class="menu menu-horizontal rounded-lg md:text-lg">
			<li>
				<a href="/" class={pathname === "/" ? "text-info" : ""}>Home</a>
			</li>
			<!-- <li> -->
			<!-- 	<a href="/projects" class={pathname === "/projects" ? "text-info" : ""}>Projects</a> -->
			<!-- </li> -->
			<li>
				<a href="/blog" class={pathname === "/blog" || pathname === "/blog/" ? "text-info" : ""}
					>Blog</a
				>
			</li>
			<li>
				<a href="/about" class={pathname === "/about" || pathname === "/about/" ? "text-info" : ""}
					>About</a
				>
			</li>
		</ul>
	</nav>
</header>
