---
const pathname = Astro.url.pathname;
---

<header class="sticky left-0 top-0 shadow-lg">
	<nav class="flex items-center justify-center bg-base-100/80">
		<ul id="nav-items" class="menu menu-horizontal rounded-lg">
			<li>
				<a href="/" class={pathname === "/" ? "text-info" : ""}>Home</a>
			</li>
			<li>
				<a href="/blog" class={pathname === "/blog" ? "text-info" : ""}>Blog</a>
			</li>
			<li>
				<a href="/about" class={pathname === "/about" ? "text-info" : ""}>About</a>
			</li>
		</ul>
	</nav>
</header>
