<section class="bg-base-200 py-10 md:py-24" id="projects">
	<div class="px-4">
		<h2 class="text-center text-2xl font-bold underline underline-offset-4 md:text-4xl">
			PROJECTS
		</h2>
		<div class="mx-auto mt-4 md:mt-14 md:max-w-3xl">
			<!-- card start -->
			<div class="bg-base-100 grid grid-cols-1 rounded-md shadow-lg md:grid-cols-2">
				<figure>
					<img class="h-full" src="testcanvas/devices.png" alt="test canvas" />
				</figure>
				<div class="card-body">
					<h2 class="card-title text-info">Test Canvas</h2>
					<p class="text-base">
						Private Device Cloud platform enabling effortless testing and optimization on actual
						Android and iOS devices for impeccable app quality and performance.
					</p>
					<div class="card-actions justify-end">
						<a href="/projects/test-canvas" class="btn btn-outline text-primary"
							>View Project
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="m10 7l5 5l-5 5"></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<!-- card end -->

			<!-- card start -->
			<div class="bg-base-100 mt-4 grid grid-cols-1 rounded-md shadow-lg md:mt-8 md:grid-cols-2">
				<figure class="md:order-last">
					<img class="h-full" src="workspace/nixos.png" alt="my nixos envrionment" />
				</figure>
				<div class="card-body">
					<h2 class="card-title text-info">Nix Config</h2>
					<p class="text-base">
						My ever growing Desktop &amp; Neovim configuration in <a
							class="link"
							href="https://nixos.org/"
							target="_blank">Nix</a
						>, which can easily adopt, and extend by everyone.
					</p>
					<div class="card-actions justify-end">
						<a href="/projects/nix-config" class="btn btn-outline text-primary"
							>View Project
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="m10 7l5 5l-5 5"></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<!-- card end -->
		</div>
	</div>
</section>
