<section class="bg-base-300 py-10 md:py-24">
	<div class="px-4">
		<h2
			class="text-center text-2xl font-bold uppercase underline underline-offset-4 md:text-4xl"
			id="projects"
		>
      Skills &amp; Experiences
		</h2>
	</div>
</section>
