<section class="bg-base-200 py-10 md:py-24">
	<div class="px-4">
		<h2 class="text-center text-3xl font-bold md:text-5xl">Work History</h2>
		<ul
			class="timeline timeline-vertical timeline-snap-icon mx-auto mt-4 max-md:timeline-compact md:mt-14 md:max-w-4xl"
		>
			<li>
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div class="timeline-start md:mb-4 md:text-end">
					<div class="mb-4">
						<p>
							<span class="text-lg font-black text-primary md:text-xl dark:text-info"
								>Senior Back-End Developer</span
							>
							<a href="https://brillar.io" class="link" target="_blank">(Brillar)</a>
						</p>
						<p>
							<time class="font-mono italic">August 2024 - Present</time>
						</p>
						<ul class="list-disc pl-4 text-left md:pl-0">
							<li>
								Designed and implemented a testing platform (Device-Farm) with real-time streaming
								and remote control for Android and iOS devices using Socket.IO, MongoDB, and Redis.
							</li>
							<li>Migrated codebase to TypeScript for enhanced type safety and maintainability.</li>
							<li>
								Created and maintained services for an AI platform using Python and TypeScript with
								LangChain.
							</li>
							<li>Deployed and managed cloud environments on AWS EC2 and GCP Compute Engine.</li>
						</ul>
					</div>
				</div>
				<hr class="bg-base-content" />
			</li>

			<li>
				<hr class="bg-base-content" />
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div class="timeline-end md:mb-4">
					<div class="mb-4">
						<p>
							<span class="text-lg font-black text-primary md:text-xl dark:text-info">
								Full-Stack Developer
							</span>
							<a href="https://brillar.io" class="link" target="_blank">(Brillar)</a>
						</p>
						<p>
							<time class="font-mono italic">September 2023 - August 2024</time>
						</p>
						<ul class="list-disc pl-4">
							<li>Implemented browser testing API.</li>
							<li>Implemented proxy to track the state of test sessions</li>
							<li>Fixed bugs and maintained codebase.</li>
						</ul>
					</div>
				</div>
				<hr class="bg-base-content" />
			</li>

			<li>
				<hr class="bg-base-content" />
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div class="timeline-start md:mb-4 md:text-end">
					<div class="mb-4">
						<p>
							<span class="text-lg font-black text-primary md:text-xl dark:text-info"
								>Full-Stack Developer</span
							>
							<a href="https://www.kioskthailand.com" class="link" target="_blank"
								>(Kiosk Thailand)</a
							>
						</p>
						<p>
							<time class="font-mono italic">April 2023 - September 2023</time>
						</p>
						<ul class="list-disc pl-4 text-left md:pl-0">
							<li>
								Worked on building scalable, user-friendly applications as part of a dynamic team.
							</li>
							<li>
								Built a back-end server using Node.js, TypeScript, DynamoDB, and AWS S3, deploying
								on Ubuntu Linux via AWS EC2.
							</li>
						</ul>
					</div>
				</div>
				<hr class="bg-base-content" />
			</li>

			<li>
				<hr class="bg-base-content" />
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div class="timeline-end mb-0 md:mb-0">
					<div class="mb-4">
						<p>
							<span class="text-lg font-black text-primary md:text-xl dark:text-info">
								Web Developer
							</span>
							<a href="https://qualymm.com/" class="link" target="_blank">(Qualy Myanmar)</a>
						</p>
						<p>
							<time class="font-mono italic">March 2022 - April 2023</time>
						</p>
						<ul class="list-disc pl-4">
							<li>
								Delivered pixel-perfect, responsive websites adhering to W3C and Web AIM guidelines.
							</li>
							<li>Created custom WordPress themes and dashboards for ease of client use.</li>
							<li>
								Developed responsive websites and interactive applications for a diverse range of
								clients.
							</li>
						</ul>
					</div>
				</div>
				<hr class="bg-base-content" />
			</li>
		</ul>
	</div>
</section>
