<section class="bg-base-200">
	<div class="px-4">
		<h2 class="pt-8 text-center text-3xl font-bold md:pt-16 md:text-5xl">Work History</h2>
		<ul class="timeline timeline-vertical timeline-snap-icon mt-4 max-md:timeline-compact md:mt-8 md:max-w-4xl mx-auto">
			<li>
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div class="timeline-start md:mb-10 md:text-end">
					<div class="mb-4">
						<p>
							<span class="text-lg font-black text-primary md:text-xl dark:text-info"
								>Senior Back-End Developer</span
							>
							<a href="https://brillar.io" class="link" target="_blank">(Brillar)</a>
						</p>
						<p>
							<time class="font-mono italic">August 2024 - Present</time>
						</p>
						<p>
							The Apple Macintosh—later rebranded as the Macintosh 128K—is the original Apple
							Macintosh personal computer. It played a pivotal role in establishing desktop
							publishing as a general office function. The motherboard, a 9 in (23 cm) CRT monitor,
							and a floppy drive were housed in a beige case with integrated carrying handle; it
							came with a keyboard and single-button mouse.
						</p>
					</div>
				</div>
				<hr class="bg-base-content" />
			</li>

			<li>
				<hr class="bg-base-content" />
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div class="timeline-end md:mb-10">
					<div class="mb-4">
						<p>
							<span class="text-lg font-black text-primary md:text-xl dark:text-info">
								Full-Stack Developer
							</span>
							<a href="https://brillar.io" class="link" target="_blank">(Brillar)</a>
						</p>
						<p>
							<time class="font-mono italic">September 2023 - August 2024</time>
						</p>
						<p>
							iMac is a family of all-in-one Mac desktop computers designed and built by Apple Inc.
							It has been the primary part of Apple's consumer desktop offerings since its debut in
							August 1998, and has evolved through seven distinct forms
						</p>
					</div>
				</div>
				<hr class="bg-base-content" />
			</li>

			<li>
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div class="timeline-start md:mb-10 md:text-end">
					<div class="mb-4">
						<p>
							<span class="text-lg font-black text-primary md:text-xl dark:text-info"
								>Full-Stack Developer</span
							>
							<a href="https://www.kioskthailand.com" class="link" target="_blank"
								>(Kiosk Thailand)</a
							>
						</p>
						<p>
							<time class="font-mono italic">August 2024 - Present</time>
						</p>
						<p>
							The Apple Macintosh—later rebranded as the Macintosh 128K—is the original Apple
							Macintosh personal computer. It played a pivotal role in establishing desktop
							publishing as a general office function. The motherboard, a 9 in (23 cm) CRT monitor,
							and a floppy drive were housed in a beige case with integrated carrying handle; it
							came with a keyboard and single-button mouse.
						</p>
					</div>
				</div>
				<hr class="bg-base-content" />
			</li>

			<li>
				<hr class="bg-base-content" />
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div class="timeline-end md:mb-10">
					<div class="mb-4">
						<p>
							<span class="text-lg font-black text-primary md:text-xl dark:text-info">
								Web Developer
							</span>
							<a href="https://qualymm.com/" class="link" target="_blank">(Qualy Myanmar)</a>
						</p>
						<p>
							<time class="font-mono italic">September 2023 - August 2024</time>
						</p>
						<p>
							iMac is a family of all-in-one Mac desktop computers designed and built by Apple Inc.
							It has been the primary part of Apple's consumer desktop offerings since its debut in
							August 1998, and has evolved through seven distinct forms
						</p>
					</div>
				</div>
				<hr class="bg-base-content" />
			</li>
		</ul>
	</div>
</section>
