---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="TestCanvas | Oung Seik Nyan" description="Test Canvas | private cloud devices farm" />
	</head>
	<body>
		<Header />
    <section class="min-h-dvh"></section>
		<Footer />
	</body>
</html>
